body {
    background-color: rgb(255, 240, 228);
    background-image: url("../images/background.webp");
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: auto;
}

h1 {
    font-size: 80px;
    color: rgb(54, 32, 1);
    text-align: center;
}

div {
   
}

.mint {
  background-color: transparent
  border: 2px solid #f8e6ce;
}

.milk {
  
}

.jelly {
  background-color: transparent
  border: 2px solid #f8e6ce;
}

button {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    background-color: transparent;
    border: 4px solid #f8e6ce;
}

p {
    text-align: center;
}

a:link {
    text-decoration: none;
    color: #f8e6ce
}